<nav class="hidden md:flex">
  <ul class="flex flex-row gap-2">
    <li>
      <a href="#" class="inline-flex py-2 px-3 bg-slate-200 rounded" aria-current="true">Home</a>
    </li>
    <li>
      <a href="#" class="inline-flex py-2 px-3 hover:bg-slate-200 rounded">About</a>
    </li>
    <li>
      <button class="inline-flex py-2 px-3 hover:bg-slate-200 rounded" x-on:click="isOpen = !isOpen">Catalogue</button>
    </li>
    <li>
    <%= link_to "Sign in", new_user_session_path, class:"inline-flex py-2 px-3 hover:bg-slate-200 rounded" %>
    </li>
  </ul>
</nav>