<ul class="mt-4 flex flex-col space-y-2">
  <li
    class="hover:bg-blue-400 rounded p-2 text-lg cursor-pointer transition duration-200"
  >
    <a href="#">Home</a>
  </li>
  <li
    class="hover:bg-blue-400 rounded p-2 text-lg cursor-pointer transition duration-200"
  >
    <a href="#">About</a>
  </li>
  <li
    class="hover:bg-blue-400 rounded p-2 text-lg cursor-pointer transition duration-200"
  >
    <a href="#">Products</a>
  </li>
  <li
    class="hover:bg-blue-400 rounded p-2 text-lg cursor-pointer transition duration-200"
  >
    <a href="#">Pricing</a>
  </li>
  <li
    class="hover:bg-blue-400 rounded p-2 text-lg cursor-pointer transition duration-200"
  >
    <a href="#">Contact</a>
  </li>
</ul>