  <!-- Sidebar -->
  <nav
    class="absolute transform transition duration-300 inset-0 lg:relative z-10 w-80 bg-gray-100 text-gray-700 h-full p-4"
    :class="{'-translate-x-full opacity-0':isOpen === false, 'translate-x-0 opacity-100': isOpen === true}"
  >
    <div class="flex justify-between">
      <span class="font-bold text-2xl sm:text-3xl">Sidebar</span>
      <button class="p-2 rounded hover:bg-gray-300" @click="isOpen = false">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
        </svg>
      </button>
    </div>
		<!-- Navigation buttons here -->
		<%= render 'navigations/sidebar_menu' %>
  </nav>
  <div class="fixed w-full top-20">
    <button class="absolute p-2 rounded hover:bg-gray-200" @click="isOpen = true">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
      </svg>
		</button>
  </div>