<!-- UI card from https://uxplanet.org/ultimate-guide-for-designing-ui-cards-59488a91b44f -->

  <div class="relative m-3 flex flex-wrap mx-auto justify-center transition duration-300 transform hover:scale-105">
    <div class="relative xl:max-w-sm max-w-xs min-w-[220px] bg-white shadow-md rounded-3xl p-2 mx-1 my-3">
      <div x-data="carousel()" class="overflow-x-hidden rounded-2xl relative">
        <%= link_to product do %>
          <img class="h-40 rounded-2xl w-full object-cover" :src="images[selected]" alt="mountains"/>
        <% end %>
        <div class="absolute left-2 top-2">
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded ml-3 opacity-50 cursor-default ">5.0</span>
        </div>
        <p class="absolute right-2 top-2 cursor-pointer group text-gray-300 hover:text-pink-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 group-hover:opacity-90 opacity-70" fill="none" viewBox="0 0 24 24" stroke="gray">
            <path fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </p>
        <button
          @click="if (selected > 0 ) {selected -= 1} else { selected = images.length - 1 }"
          class="absolute h-8 w-8 left-1 inset-y-16 rounded-full group transition duration-300 transform hover:scale-125 hover:bg-white/20 opacity-40 hover:opacity-75 cursor-pointer"
        >
          <span class="text-gray-50">
            &larr;
          </span>
        </button>
      <button
        @click="if (selected < images.length - 1  ) {selected += 1} else { selected = 0 }"
        class="absolute h-8 w-8 right-1 inset-y-16 rounded-full group transition duration-300 transform hover:scale-125  hover:bg-white/20 opacity-40 hover:opacity-75 cursor-pointer"
      >
        <span class="text-gray-50">
        &rarr;
        </span>
      </button>
      </div>
      <div class="mt-4 pl-2 mb-2 flex flex-col ">
        <div class="flex flex-col">
          <p class="text-md font-semibold text-gray-900 mb-0"><%= truncate product.title, length: 28 %></p>
        </div>
          <hr class="h-px bg-gray-300 border-0">
        <div class="mt-4 flex justify-between px-1">
          <p class="text-md text-gray-800 mt-2.5">$ <%= product.price %> </p>
          <div class="flex flex-col-reverse mb-1 mr-4 group cursor-pointer">
            <p class="bg-gray-200 p-2 rounded-full transition duration-300 transform hover:scale-125 hover:bg-red-400">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800 group-hover:opacity-90" fill="none" viewBox="0 0 24 24" stroke="gray">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>