<% navbar_at %>
<div>
  <div class="mt-[68px] mx-auto  justify-items-center grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-8 px-8 py-6 bg-gray-100">
    <div class="max-w-xs rounded-md overflow-hidden shadow-lg hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
    <div class="max-w-xs rounded-md overflow-hidden shadow-md hover:scale-105 transition duration-500 cursor-pointer">
      <div>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/82/02/LD0005820208_1.jpg" alt="" />
      </div>
      <div class="py-4 px-4 bg-white">
        <h3 class="text-lg font-semibold text-gray-600">Apple MacBook Pro M1 13.3&quot; Silver 16GB/512GB (MYDC2FN/A-16GB)</h3>
        <p class="mt-4 text-lg font-thin">$ 2400</p>
      </div>
    </div>
  </div>
</div>